/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/attachments/*
!/storage/attachments/.empty
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/Journal.json
/config/bejou.php
.DS_Store
/public/attachments
